.statyi h1 {
    color: var(--3-b-3937, #3B3937);
    font-family: PermianSerifTypeface;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.64px;
    margin-top: 84px;
    margin-bottom: 40px;
}


.btn-stats {
    color: var(--3-b-3937, #3e3a35);
text-align: center;
font-family: Gilroy;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 140%;
letter-spacing: 0.9px;
text-transform: uppercase;
width: 1280px;
height: 60px;
border: none;
margin-bottom: 90px;
}